<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kilofarms Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-gray-dark text-white">
  		<div class="container">
    		<a class="text-white link-reset text-inherit pr-3">
      			Kilofarms Task
    		</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="btn btn-primary mt-2" onclick="handleOnSubmit()">
                      Logout
                    </button>
                  </li>
              </ul>
        </div>
      </div>
    </nav>
    <br />
    <br />
    <h1 class="text-orange-light">Products</h1>
    <br />
    <div id="productscontainer">

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script>
      function handleOnSubmit() {
        if (getToken()) {
          localStorage.clear();
          window.location.href = "/"
        }
      }

      function getProducts(id) {
        var requestOptions = {
          method: 'GET',
          headers: {
            'Authorization': "Bearer " + getToken()
          }
        };
        let URL = "http://localhost:5000/products/product"
        if (id) {
          URL = URL + "?id=" + id
        }

        return fetch(URL, requestOptions)
          .then(response => response.json())
          .then(result => {
            return result
          })
          .catch(error => console.log('error', error));
      }

      function getAllProducts() {
        var requestOptions = {
          method: 'GET',
          headers: {
            'Authorization': "Bearer " + getToken()
          }
        };
        let URL = "http://localhost:5000/products/getAllProducts"

        return fetch(URL, requestOptions)
          .then(response => response.json())
          .then(result => {
            return result
          })
          .catch(error => console.log('error', error));
      }

      function displayProducts(data) {
        let listcontainer = document.getElementById("productscontainer")
        let temp = ""
        for (let i=0; i<data.length; i++) {
          temp += getHtmlForProduct(data[i])
        }
        listcontainer.innerHTML = temp
      }

      function getHtmlForProduct(product) {
        return "<div class='card'><div class='container'><a href='/web/viewProduct/" + product.id +"'>" + product.sku_name + "</a></div></div><br />"
      }

      getAllProducts().then((result) => {
        if (result.success) {
          displayProducts(result.products)
        }
        else {
          alert("No products available")
        }
      })
    </script>
  </body>
</html>