{% extends "layouts/layout.html" %}

{% block content %}
  <div class="container py-5 my-5 text-muted text-center">
    <h1 class="h5">This isn't the page you are looking for.</h1>
    <p>Page not available. Please check your URL or go back home.<p>
    <a href="/" class="btn btn-primary">Go back home</a>
  </div>
{% endblock %}